* {
  box-sizing: border-box;
}

canvas {
  background-color: white;
  border: 1px solid black;
  width: 100%;
}

.canvas-container {
  background-color: lightblue;
  width: 80vw;
  padding: 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90%;
  margin: 10 auto;
  border: 1px solid black;
}

.hidden {
  display: none;
}
