* {
  box-sizing: border-box;
}

body {
  background-color: antiquewhite;
  text-align: center;
}

canvas {
  background-color: white;
  border: 1px solid black;
  width: 100%;
}

.canvas-container {
  background-color: lightblue;
  width: 80vw;
  padding: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  width: 90%;
  margin: 10 auto;
  border: 1px solid black;
  flex: 1;
}

.hidden {
  display: none !important;
}

.direction-edit {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.fotter {
  display: flex;
  flex-direction: row;
}