.gallery-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  padding: 1em 2em;
  justify-items: center;
}

.gallery-layout img {
  width: 100%;
  max-width: 100px;
  border-radius: 10px;
  object-fit: cover;
  aspect-ratio: 1;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.gallery-layout img:hover {
  transform: scale(1.3);
}
