.editor-layout {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .editor-mems {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
    justify-content: center;
    margin-block: 2rem;
  }
  
  .edit-controls {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    border: 1px solid red;
    max-width: 200px;
  }