
.editor-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  flex-wrap: wrap;
}

.editor-mems {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
  margin-block: 2rem;
}

.edit-controls {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  border: 1px solid red;
  max-width: 400px;
  /* max-height: 450px; */
}

.fotter-edit {
  display: flex;
  flex-direction: row;
  background-color: #aaa;
  padding: 10px;
  gap: 5px;

  align-items: center;
  justify-content: center;
}

.direction-edit {
  list-style-type: none;
  display: flex;
  gap: 10px;
}

.saved-memes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;
  justify-items: center;
}

.saved-memes img {
  width: 150px;
  border: 1px solid #aaa;
  border-radius: 8px;
  cursor: pointer;
}

.color-picker{
  place-self: center;
}

